<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/github-markdown-css/2.10.0/github-markdown.css">
	<script src="https://cdn.bootcss.com/axios/0.18.0/axios.min.js"></script>
	<script src="https://cdn.bootcss.com/marked/0.4.0/marked.min.js"></script>
	<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
	<link rel="stylesheet" type="text/css" href="src/css/style.css">
	<script>
		// PC端 移动端 跳转
		var is_mobi = navigator.userAgent.toLowerCase().match(/(ipod|iphone|android|coolpad|mmp|smartphone|midp|wap|xoom|symbian|j2me|blackberry|wince)/i) != null;
		if (is_mobi) {
			window.location.href = "mobile.html";
		}
	</script>
	<title>小破站</title>
</head>
<body>
	<div class="top">
		<div class="pageTitle">星际漫游者</div>
	</div>
	<div id="app" class="content">
		<div class="left cl">
			<div><b>主舰</b></div>
			<div class="ship-info">
				<b>{{playerMainShip.name}}</b>
				<span>[ 结构:{{playerMainShip.structure}}/{{playerMainShip.maxStructure}} , 护盾:{{playerMainShip.shield}}/{{playerMainShip.maxShield}} ]</span>
				<a v-if="mainShipInfo==false" class="fl-right" @click="switchMainShipInfo">▽展开</a>
				<a v-if="mainShipInfo==true" class="fl-right" @click="switchMainShipInfo">△收起</a>
			</div>
			<div v-if="mainShipInfo==true">
				武器组
				<ul>
					<li v-for="wp in playerMainShip.weapon">
						武器{{wp.idx}}：{{wp.name}}
					</li>
				</ul>
				升级模块
				<ul>
					<li v-for="md in playerMainShip.module">
						模块{{md.idx}}：{{md.name}}
					</li>
				</ul>
			</div>
		</div>
		<div class="mid cl">
			<div class="g-nav">
				冒险
			</div>
			<div class="box">
				<button @click="fight">战斗</button>
			</div>
		</div>
		<div class="right cl">
			<a>日志</a>|<a>查看战斗记录</a>
		</div>
	</div>
</body>
<script src="src/js/starRover.js"></script>
<script src="src/js/roverVue.js"></script>
</html>
