<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/github-markdown-css/2.10.0/github-markdown.css">
	<script src="https://cdn.bootcss.com/axios/0.18.0/axios.min.js"></script>
	<script src="https://cdn.bootcss.com/marked/0.4.0/marked.min.js"></script>
	<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
	<link rel="stylesheet" type="text/css" href="src/css/style.css">
	<script>
		// PC端 移动端 跳转
		var is_mobi = navigator.userAgent.toLowerCase().match(/(ipod|iphone|android|coolpad|mmp|smartphone|midp|wap|xoom|symbian|j2me|blackberry|wince)/i) != null;
		if (is_mobi) {
			window.location.href = "mobile.html";
		}
	</script>
	<title>小破站</title>
</head>
<body>
	<div class="top">
		<div class="pageTitle">星际漫游者</div>
	</div>
	<div id="app" class="content">
		<div class="left cl">
			<div><b class=item-cell>{{player.name}}</b></div>
			<div class="ship-info">
				<div class=item-cell>
					<span @mouseover="onmouseover('ship',$event,0)" @mouseleave="onmouseleave('ship',$event)"><b>{{playerShip.name}}</b>[ 结构:{{playerShip.structure}}/{{playerShip.maxStructure}} , 护盾:{{playerShip.shield}}/{{playerShip.maxShield}} ]</span>
					<a v-if="shipInfo==false" class="fl-right" @click="switchMainShipInfo">▽展开</a>
					<a v-if="shipInfo==true" class="fl-right" @click="switchMainShipInfo">△收起</a>
				</div>
			</div>
			<div><a v-if="playerShip.maxStructure>playerShip.structure" @click="tryToFix">[维修]</a></div>
			<div class="ship-info" v-if="shipInfo==true">
				武器组
				<ul>
					<li v-for="wp in playerShip.weapon">
						<div class=item-cell><span @mouseover="onmouseover('wp',$event,wp.idx)" @mouseleave="onmouseleave('wp',$event)">武器{{wp.idx}}：{{wp.name}}</span><a v-if="wp.id!=-1" class="fl-right" @click="unloadWp(wp.idx)">[卸载]</a></div>
					</li>
				</ul>
				模块
				<ul>
					<li v-for="md in playerShip.module">
						<div class=item-cell>模块{{md.idx}}：{{md.name}}</div>
					</li>
				</ul>
			</div>
			<br>
			<br>
			<div class="ship-info">
				<div class=item-cell>
					<span>宇航员({{player.staffNum}}/{{player.maxStaff}})</span>
					<a v-if="staffInfo==false" class="fl-right" @click="switchStaffInfo">▽展开</a>
					<a v-if="staffInfo==true" class="fl-right" @click="switchStaffInfo">△收起</a>
				</div>
				<div class="ship-info" v-if="staffInfo==true">
					<div v-for="staff in player.staff" v-if="staff.id!=-1">
						<div class=item-cell>{{staff.name}}</div>
					</div>
				</div>
			</div>
			<br>
			<br>
			<div class="ship-info">
				货柜仓（{{playerShip.roomOccupy}}/{{playerShip.roomSize}}）
			</div>
			<div class="ship-info">
				<div v-for="item in playerShip.room" v-if="item!=undefined&&item.id>=0">
					<div class=item-cell>{{item.name}}({{item.num}})<a v-if="itemData[item.id].type==1" class="fl-right" @click="tryToLoadWp(item.idx)">[装载]</a></div>
				</div>
			</div>
			<div class="shipTip" id="shipTip" v-show="shipTip">
				<div class="line bottomLine leftVoid"><b>{{playerShip.name}}</b></div>
				<div class="leftVoid">
					<div>武器位：2</div>
					<div>模块位：10个</div>
					<div>护盾回冲：20/天</div>
				</div>
			</div>
			<div class="shipTip" id="wpTip" v-show="wpTip">
				<div class="leftVoid bottomLine topPad" v-if="wpTipIdx>=0">
					<div ><b>{{playerShip.weapon[wpTipIdx-1].name}}</b></div>
					<div v-if="playerShip.weapon[wpTipIdx-1].staff==-1">操作员：无<br><i>（该武器处于自动状态）</i></div>
				</div>
				<div class="leftVoid" v-if="wpTipIdx>=0">
					伤害：{{wpTipDmg}}
					<br>
					速度：{{parseFloat((wpTipSpeed/1000).toFixed(2))}}秒
					<br>
					初次装填时间：{{parseFloat((wpTipIT/1000).toFixed(2))}}秒
					<br>
					命中率：{{wpAim}}%
				</div>
			</div>
		</div>
		<div class="mid cl">
			<div>
				冒险
			</div>
			<div class="box">
				<button @click="fight">战斗</button>
				<button @click="testAddStaff">添加船员</button>
			</div>
		</div>
		<div class="right cl">
			<div>{{timeS()}}</div>
			<a :class="{underline:rightSel==1}" @click="clickRightMenu(1)">船长日志</a>|<a :class="{underline:rightSel==2}" @click="clickRightMenu(2)">查看战斗记录</a>
			<br><br>
			<hr>
			<br><br>
			<div id="info" class="info" v-if="rightSel==1">
				<div class="info-cell" v-for="item in msg" v-html="item">&emsp;{{item}}</div>
			</div>
			<div id="info" class="info" v-if="rightSel==2">
				<div class="info-cell" v-for="item in ftMsg" v-html="item">&emsp;{{item}}</div>
			</div>
		</div>
	</div>
</body>
<script src="src/js/info.js"></script>
<script src="src/js/time.js"></script>
<script src="src/js/starRover.js"></script>
<script src="src/js/staff.js"></script>
<script src="src/js/game.js"></script>
<script src="src/js/roverVue.js"></script>
</html>
