
.bframe{
	border: solid 3px #aaaaaa;
	padding: 0 0px 25px 25px;
}

.box{
	position: absolute;
	left: 50px;
	top: 110px;
	background-color: white;
	z-index:100;
	width: 470px;
	height: 300px;
	p{
		margin: 0 0 6px 0;
	}
}

.bd{
	width: 600px;
	height: 550px;
}

.bx{
	position: absolute;
	left: 105px;
	top: 80px;
	width: 350px;
	height: 350px;
	color: white;
	background-color: #333;
	z-index:100;
	p{
		margin: 0 0 6px 0;
	}
}