
.bframe{
	border: solid 3px #aaaaaa;
	padding: 0 0px 25px 25px;
}

.box{
	position: absolute;
	left: 6.5em;
	top: 90px;
	background-color: white;
	z-index:100;
	width: 470px;
	height: 300px;
	p{
		margin: 0 0 6px 0;
	}
}

.bd{
	width: 500px;
	height: 550px;
}

.bx{
	position: absolute;
	left: 11.5em;
	top: 4em;
	z-index:100;
	width: 350px;
	height: 350px;
	color: white;
	background-color: #333;
	
	p{
		margin: 0 0 6px 0;
	}
}

.left{
	float: left;
}

.right{
	float: right;
}

.plcBtn{
	margin-right: 1em;
	border: solid 1px black;
	padding: 2px 8px 2px 8px;
	font-size: 1.1em;
	cursor: pointer;
}
.plcBtn:hover{
	background-color: #B0E2FF
}
.plcBtn:active{
	background-color: #7D9EC0;
}

.actBtn{
	margin-right: 1em;
	border-radius: 0.3em;
	padding: 4px 12px 4px 12px;
	font-size: 1.1em;
	cursor: pointer;
	background-color: #BFEFFF;
}
.actBtn:hover{
	background-color: #A4D3EE;
}
.actBtn:active{
	background-color: #7D9EC0;
}