
.bframe{
	border: ridge 0.4em #CDB38B;
	padding: 0 0px 25px 25px;
}

.box{
	position: absolute;
	left: 6.5em;
	top: 90px;
	background-color: 	#F5F5DC;
	z-index:100;
	width: 470px;
	height: 300px;
	p{
		margin: 0 0 6px 0;
	}
}

.mediumBox{
	position: absolute;
	left: 7.5em;
	top: 6em;
	background-color: white;
	z-index:100;
	width: 470px;
	height: 300px;
	padding: 0 2em 0 2em;
	box-sizing:border-box;
	text-align: center;
}

.md{
position: relative;
background-color: black;
z-index: 90;
opacity:0.5;
}

.bd{
	width: 700px;
	height: 550px;
}

.bx{
	position: absolute;
	left: 11.5em;
	top: 4em;
	z-index:100;
	width: 350px;
	height: 350px;
	color: white;
	background-color: #F5F5DC;
	
	p{
		margin: 0 0 6px 0;
	}
}

.left{
	float: left;
}

.right{
	float: right;
}

.plcBtn{
	margin-right: 1em;
	border: solid 1px #666;
	padding: 0.4em 0.8em 0.4em 0.8em;
	font-size: 1em;
	cursor: pointer;
	color: #333;
}
.plcBtn:hover{
	background-color: #ddd;
}
.plcBtn:active{
	background-color: #aaa;
}

.actBtn{
	margin-right: 1em;
	padding: 0.5em 0.9em 0.5em 0.9em;
	font-size: 1em;
	cursor: pointer;
	background-color: #8B8B7A;
	color: white;
}
.actBtn:hover{
	background-color: #636363;
}
.actBtn:active{
	background-color: #333;
}